dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

.xmobar.hs.swp
history
xmonad-x86_64-linux
xmonad.errors
xmonad.hs.save

